/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

body {
  padding-top: 53px;
}
/* header*/
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3px 60px;
  background-image: url(../images/background/EarthForest-LinkedIn-Background-ID-42231-Cover-Abyss.jpg);
  background-position: top;
  background-size: cover;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}
.logo-div {
  width: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.logo {
  width: 100%;
  -webkit-filter: invert(0.9);
          filter: invert(0.9);
}
.logo:hover{
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
}
.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.u-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.nav-li {
  margin-right: 60px;
}
.nav-a {
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  text-transform: uppercase;
  color: lightcyan;
}
.nav-a:hover {
  color: rgb(2, 255, 255);
}
.online {
  font-size: 19px;
  color: rgb(2, 255, 255);
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  -webkit-animation-name: glow;
          animation-name: glow;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}
.bar-icon {
  position: absolute;
  top: 15px;
  right: 30px;
  font-family: "Poppins", sans-serif;
  display: none;
  color: lightcyan;
  font-size: 18px;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
          animation: glow 1s ease-in-out infinite alternate;
}
@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #00e613, 0 0 20px #00e686,
      0 0 25px #6fe600, 0 0 30px #00e68e, 0 0 30px #7bce7b;
  }
  to {
    text-shadow: 0 0 50px #fff, 0 0 10px #4dff97, 0 0 20px #4dff9d,
      0 0 30px #62ff4d, 0 0 40px #4dff56, 0 0 50px #4dffa6, 0 0 50px #79e087;
  }
}
@keyframes glow {
  from {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #00e613, 0 0 20px #00e686,
      0 0 25px #6fe600, 0 0 30px #00e68e, 0 0 30px #7bce7b;
  }
  to {
    text-shadow: 0 0 50px #fff, 0 0 10px #4dff97, 0 0 20px #4dff9d,
      0 0 30px #62ff4d, 0 0 40px #4dff56, 0 0 50px #4dffa6, 0 0 50px #79e087;
  }
}
/* section 1 */
.section-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: relative;
}
.video {
  width: 100%;
}
/* section 2 */
.section-2 {
  background-image: url(../images/background/pine-tree-background-img.jpg);
  background-size: cover;
  background-position: top;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 100px 80px 10px 80px;
  width: 100%;
}
.section-2-header-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 90px;
}
.section-2-header {
  font-family: "Poppins", sans-serif;
  color: white;
  text-shadow: 4px 4px 3px black, 0 0 25px rgb(81, 230, 180),
    0 0 5px rgb(0, 99, 21);
  font-size: 44px;
  text-transform: capitalize;
  text-align: center;
}
.section-content-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.article-div {
  background-color: rgb(176, 223, 219);
  border-radius: 10px;
  -webkit-box-shadow: 10px 20px 20px rgba(0, 0, 0, 0.904);
          box-shadow: 10px 20px 20px rgba(0, 0, 0, 0.904);
  padding: 20px 35px;
  margin-bottom: 70px;
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.article-div:hover {
  -webkit-transform: scale(1.06);
      -ms-transform: scale(1.06);
          transform: scale(1.06);
  -webkit-box-shadow: 10px 15px 15px rgba(0, 0, 0, 0.966);
          box-shadow: 10px 15px 15px rgba(0, 0, 0, 0.966);
  -webkit-transition-timing-function: ease-out;
       -o-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}
.article-img-div {
  width: 100%;
  overflow: hidden;
}
.article-img {
  width: 100%;
  border-radius: 8px;
  -webkit-transition: 0.2s all ease-in-out;
  -o-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
}
.article-img:hover {
  -webkit-transform: scale(1.5);
      -ms-transform: scale(1.5);
          transform: scale(1.5);
}
.article-content-div {
  width: 100%;
}
.article-header {
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  color: rgb(6, 69, 128);
  font-size: 18px;
  margin-top: 10px;
}
.article-content {
  font-family: "Poppins", sans-serif;
  color: rgb(42, 76, 121);
  word-spacing: 3px;
  letter-spacing: 0.2px;
  font-size: 14px;
  line-height: 22px;
  padding: 25px 0 30px;
}
.article-content::first-letter {
  font-size: x-large;
}
.explore-more-div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.explore-more {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  color: rgb(6, 69, 128);
  padding: 10px 20px;
  border: medium double rgb(1, 134, 179);
  border-radius: 50px;
}
.explore-more:hover {
  border-color: deepskyblue;
  color: deepskyblue;
}
/* section 3 */
.section-3 {
  padding: 70px 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url(../images/background/blue-watercolour-forest-tree-silhouette-wallpaper-mural-Plain-820x532.jpg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}
.section-3-header {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-size: 36px;
  padding: 30px 0 50px;
  color: rgb(233, 202, 243);
  -webkit-animation: flicker 2s linear infinite;
          animation: flicker 2s linear infinite;
}
@-webkit-keyframes flicker {
  0% {
    text-shadow: 0 0 0 rgb(170, 105, 255), 0 0 0 #4e17b5, 0 0 0 rgb(87, 0, 128);
    color: #480CA8;
  }
  50% {
    text-shadow: 0 0 30px rgb(170, 105, 255), 0 0 40px #B5179E, 0 0 50px purple;
    color: rgb(238, 215, 253);
  }
  70% {
    text-shadow: 0 0 20px rgb(170, 105, 255)ink, 0 0 30px #B5179E, 0 0 40px purple;
    color: rgb(240, 226, 253);
  }
  100% {
    text-shadow: 0 0 20px rgb(170, 105, 255), 0 0 30px #B5179E, 0 0 40px purple;
    color: rgb(234, 209, 253);
  }
}
@keyframes flicker {
  0% {
    text-shadow: 0 0 0 rgb(170, 105, 255), 0 0 0 #4e17b5, 0 0 0 rgb(87, 0, 128);
    color: #480CA8;
  }
  50% {
    text-shadow: 0 0 30px rgb(170, 105, 255), 0 0 40px #B5179E, 0 0 50px purple;
    color: rgb(238, 215, 253);
  }
  70% {
    text-shadow: 0 0 20px rgb(170, 105, 255)ink, 0 0 30px #B5179E, 0 0 40px purple;
    color: rgb(240, 226, 253);
  }
  100% {
    text-shadow: 0 0 20px rgb(170, 105, 255), 0 0 30px #B5179E, 0 0 40px purple;
    color: rgb(234, 209, 253);
  }
}
.youtube-video-div {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.youtube-video {
  width: 45%;
  height: 350px;
  -webkit-box-shadow: 0 0 20px 10px rgb(38, 33, 73);
          box-shadow: 0 0 20px 10px rgb(38, 33, 73);
  margin-bottom: 30px;
}
/* slider */
.slider-section{
  -webkit-box-shadow: inset 0 5px 50px rgba(28, 48, 71, 0.733);
          box-shadow: inset 0 5px 50px rgba(28, 48, 71, 0.733);;
}
.slider-header-div{
  width: 100%;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 80px;
  padding-bottom: 50px;
}
.slider-header{
  width: 90%;
  font-family: "Poppins", sans-serif;
  font-size: 36px;
  text-transform: uppercase;
  color: #550c86;
  text-shadow: 4px 4px 3px rgba(0, 8, 14, 0.274), 0 0 25px rgb(81, 230, 180),
    0 0 5px rgb(26, 0, 99);
  text-align: center;
}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  width: 100%;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  -webkit-transition: 0.6s ease;
  -o-transition: 0.6s ease;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  font-family: "Poppins", sans-serif;
  color: #f2f2f2;
  font-size: 28px;
  padding: 10px 12px;
  position: absolute;
  width: 100%;
  bottom: 40px;
  text-align: center;
  text-transform: capitalize;
  background-color: #cec5c5c7;
}
.text:hover {
  background-color: #cec5c5;
}
/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  margin-bottom: 80px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: background-color 0.6s ease;
  -o-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
/* footer */
.footer-div {
  background-image: url(../images/background/EarthForest-LinkedIn-Background-ID-42231-Cover-Abyss.jpg);
  background-position: bottom;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 75px 100px;
}
.footer-header {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  color: lightcyan;
  font-size: 15px;
  margin-bottom: 14px;
}
.footer-nav-a {
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  line-height: 18px;
  font-size: 13.5px;
  color: rgb(2, 255, 255);
}
.footer-nav-icon {
  font-family: "Poppins", sans-serif;
  font-size: 36px;
  color: rgba(2, 255, 255, 0.712);
  padding-right: 25px;
}
.footer-icon-li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.visa-card:hover {
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  color: lightseagreen;
}
.mastercard:hover {
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  color: rgb(255, 153, 0);
}
.american-express:hover {
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  color: rgb(0, 110, 255);
}
.facebook:hover {
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  color: blue;
}
.insta:hover {
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  color: rgb(182, 3, 137);
}
.twitter:hover {
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  color: rgb(0, 119, 255);
}
.pinterest:hover {
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  color: red;
}

/* destinations page */
/*section 1*/
.destinations-section-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  background-color: rgba(95, 253, 213, 0.329);
  -webkit-box-shadow: inset 0 5px 50px rgb(28, 71, 46);
          box-shadow: inset 0 5px 50px rgb(28, 71, 46);
}
.destinations-child-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-size: cover;
  background-position: center;
  width: 70%;
  height: 450px;
  -webkit-box-shadow: 0px 0px 20px 1px rgb(28, 71, 46);
          box-shadow: 0px 0px 20px 1px rgb(28, 71, 46);
}
.tbilisi {
  background-image: url(../images/tbilisi2.webp);
  -webkit-animation: tbilisi 12s 2s infinite;
          animation: tbilisi 12s 2s infinite;
}
@-webkit-keyframes tbilisi {
  0% {
    background-image: url(../images/tbilisi2.webp);
  }
  33% {
    background-image: url(../images/old-tbilisi.jpg);
  }
  66% {
    background-image: url(../images/tbilisisea.jpg);
  }
}
@keyframes tbilisi {
  0% {
    background-image: url(../images/tbilisi2.webp);
  }
  33% {
    background-image: url(../images/old-tbilisi.jpg);
  }
  66% {
    background-image: url(../images/tbilisisea.jpg);
  }
}
.mtsketa {
  background-image: url(../images/mtskheta.jpg);
  -webkit-animation: mtsketa 12s 2s infinite;
          animation: mtsketa 12s 2s infinite;
}
@-webkit-keyframes mtsketa {
  0% {
    background-image: url(../images/mtskheta.jpg);
  }
  33% {
    background-image: url(../images/jvari-mtskheta.jpg);
  }
  66% {
    background-image: url(../images/mtsketa1.jpg);
  }
}
@keyframes mtsketa {
  0% {
    background-image: url(../images/mtskheta.jpg);
  }
  33% {
    background-image: url(../images/jvari-mtskheta.jpg);
  }
  66% {
    background-image: url(../images/mtsketa1.jpg);
  }
}
.towers {
  background-image: url(../images/zugdidi.jpg);
  -webkit-animation: towers 12s 2s infinite;
          animation: towers 12s 2s infinite;
}
@-webkit-keyframes towers {
  0% {
    background-image: url(../images/zugdidi.jpg);
  }
  30% {
    background-image: url(../images/ushguli.jpg);
    background-position: bottom;
  }
  60% {
    background-image: url(../images/mestia1.jpg);
  }
}
@keyframes towers {
  0% {
    background-image: url(../images/zugdidi.jpg);
  }
  30% {
    background-image: url(../images/ushguli.jpg);
    background-position: bottom;
  }
  60% {
    background-image: url(../images/mestia1.jpg);
  }
}
.tovli {
  background-image: url(../images/bakuriani.jpg);
  -webkit-animation: tovli 12s 2s infinite;
          animation: tovli 12s 2s infinite;
}
@-webkit-keyframes tovli {
  0% {
    background-image: url(../images/bakuriani.jpg);
  }
  33% {
    background-image: url(../images/gudauri.jpg);
  }
  66% {
    background-image: url(../images/bakuriani1.jpg);
  }
}
@keyframes tovli {
  0% {
    background-image: url(../images/bakuriani.jpg);
  }
  33% {
    background-image: url(../images/gudauri.jpg);
  }
  66% {
    background-image: url(../images/bakuriani1.jpg);
  }
}
.batumi {
  background-image: url(../images/batumi.jpg);
  background-position: top;
  -webkit-animation: batumi 12s 2s infinite;
          animation: batumi 12s 2s infinite;
}
@-webkit-keyframes batumi {
  0% {
    background-image: url(../images/batumi.jpg);
  }
  33% {
    background-image: url(../images/batumi-boulevard.jpg);
  }
  66% {
    background-image: url(../images/batumi-jpeg_header-9079525.jpeg);
  }
}
@keyframes batumi {
  0% {
    background-image: url(../images/batumi.jpg);
  }
  33% {
    background-image: url(../images/batumi-boulevard.jpg);
  }
  66% {
    background-image: url(../images/batumi-jpeg_header-9079525.jpeg);
  }
}
.caves {
  background-image: url(../images/vardzia1.jpg);
  background-position: top;
  -webkit-animation: caves 10s 2s infinite;
          animation: caves 10s 2s infinite;
}
@-webkit-keyframes caves {
  0% {
    background-image: url(../images/vardzia1.jpg);
  }
  33% {
    background-image: url(../images/ufliscixe.jpg);
    background-position: top;
  }
  66% {
    background-image: url(../images/david-gareja.jpg);
    background-position: bottom;
  }
}
@keyframes caves {
  0% {
    background-image: url(../images/vardzia1.jpg);
  }
  33% {
    background-image: url(../images/ufliscixe.jpg);
    background-position: top;
  }
  66% {
    background-image: url(../images/david-gareja.jpg);
    background-position: bottom;
  }
}
.waterfall {
  background-image: url(../images/dashbashi.jpg);
  background-position: top;
  -webkit-animation: waterfall 12s 2s infinite;
          animation: waterfall 12s 2s infinite;
}
@-webkit-keyframes waterfall {
  0% {
    background-image: url(../images/dashbashi.jpg);
  }
  33% {
    background-image: url(../images/martvili-canyon1.jpg);
  }
  66% {
    background-image: url(../images/waterfall.jpg);
    background-position: center;
  }
}
@keyframes waterfall {
  0% {
    background-image: url(../images/dashbashi.jpg);
  }
  33% {
    background-image: url(../images/martvili-canyon1.jpg);
  }
  66% {
    background-image: url(../images/waterfall.jpg);
    background-position: center;
  }
}
.lake {
  background-image: url(../images/koruldi.jpg);
  -webkit-animation: lake 12s 2s infinite;
          animation: lake 12s 2s infinite;
}
@-webkit-keyframes lake {
  0% {
    background-image: url(../images/koruldi.jpg);
  }
  33% {
    background-image: url(../images/bateti-lake.jpg);
  }
  66% {
    background-image: url(../images/Zhinvali-Lake.jpg);
  }
}
@keyframes lake {
  0% {
    background-image: url(../images/koruldi.jpg);
  }
  33% {
    background-image: url(../images/bateti-lake.jpg);
  }
  66% {
    background-image: url(../images/Zhinvali-Lake.jpg);
  }
}
.kaxeti {
  background-image: url(../images/Alaverdi.jpg);
  -webkit-animation: kaxeti 12s 2s infinite;
          animation: kaxeti 12s 2s infinite;
}
@-webkit-keyframes kaxeti {
  0% {
    background-image: url(../images/Alaverdi.jpg);
  }
  53% {
    background-image: url(../images/signagi.jpg);
  }
  66% {
    background-image: url(../images/kaxeti.jpg);
  }
}
@keyframes kaxeti {
  0% {
    background-image: url(../images/Alaverdi.jpg);
  }
  53% {
    background-image: url(../images/signagi.jpg);
  }
  66% {
    background-image: url(../images/kaxeti.jpg);
  }
}
.canyon {
  background-image: url(../images/canyon.jpg);
  -webkit-animation: canyon 12s 2s infinite;
          animation: canyon 12s 2s infinite;
}
@-webkit-keyframes canyon {
  0% {
    background-image: url(../images/canyon.jpg);
  }
  33% {
    background-image: url(../images/martvili.jpg);
  }
  66% {
    background-image: url(../images/martvili-.jpg);
  }
}
@keyframes canyon {
  0% {
    background-image: url(../images/canyon.jpg);
  }
  33% {
    background-image: url(../images/martvili.jpg);
  }
  66% {
    background-image: url(../images/martvili-.jpg);
  }
}
.destinations-child {
  font-family: "Poppins", sans-serif;
  font-size: 29px;
  color: lightgray;
  background-color: rgba(42, 148, 86, 0.726);
  border: medium outset rgb(35, 189, 81);
  text-transform: capitalize;
  border-radius: 50px;
  margin-bottom: 50px;
  margin-right: 50px;
  padding: 10px 20px;
}
.destinations-child:hover {
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  background-color: rgba(55, 163, 87, 0.959);
  text-shadow: 1px 1px 2px black, 0 0 25px rgb(0, 255, 136),
    0 0 5px rgb(0, 139, 7);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* about us page */
/* section 1 */
.info-section-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px;
  width: 100%;
  height: auto;
  background-image: url(../images/Mountains_Georgia_Kazbegi_Khevi_Province_Clouds_580779_1920x1200.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.info-section-1-article {
  width: 40%;
  padding: 20px;
  background: #ece5da8f;
  color: #202020;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px double #ece5dabd;
  -webkit-box-shadow: 10px 20px 20px rgba(24, 23, 23, 0.651);
          box-shadow: 10px 20px 20px rgba(24, 23, 23, 0.651);
}
.info-section-1-article:hover {
  background: #ece5dada;
  -webkit-box-shadow: 10px 15px 15px rgba(24, 23, 23, 0.781);
          box-shadow: 10px 15px 15px rgba(24, 23, 23, 0.781);
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}
.info-section-1-article-header {
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-size: 36px;
  font-weight: bolder;
  color: #f5f5de;
  text-shadow: 0 13.35px 8.896px #998b74, 0 -2px 1px #aaaaaa;
  margin-bottom: 14px;
}
.info-section-1-article-txt {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #413c35;
}
/* map section */
.map-div {
  margin-top: 40px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.map {
  width: 100%;
  height: 400px;
  -webkit-animation: map 4s 0s 1;
          animation: map 4s 0s 1;
}
@-webkit-keyframes map {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}
@keyframes map {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}
/* section 2 */
.info-section-2 {
  padding: 70px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.info-section-2-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}
.info-section-2-div:first-child {
  margin-right: 40px;
}
.info-section-2-div:nth-child(2) {
  margin-right: 40px;
}
.info-section-2-div:nth-child(3) {
  margin-right: 40px;
}
.info-section-2-div:nth-child(4) {
  margin-right: 40px;
}
.info-section-2-icon {
  font-size: 35px;
  color: rgb(8, 105, 45);
}
.info-section-2-icon:hover {
  color: rgb(4, 197, 4);
}
.info-section-2-title {
  font-family: "Poppins", sans-serif;
  line-height: 28px;
  font-size: 20px;
  color: rgb(4, 197, 4);
}
.info-section-2-content {
  font-family: "Poppins", sans-serif;
  line-height: 28px;
  font-size: 18px;
  color: rgb(4, 197, 4);
}
.pseudo-lari::after {
  content: "₾";
  color: rgb(4, 197, 4);
  font-size: 18px;
  margin-left: 10px;
}
.pseudo-area::after {
  content: "KM²";
  color: rgb(4, 197, 4);
  font-size: 18px;
  margin-left: 10px;
}
/* section 3 */
.info-section-3 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 0 70px;
}
.kutxeebi-parent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
}
.kutxeebi {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 20px;
  border: medium double rgb(11, 150, 64);
  border-radius: 50px;
}
.kutxeebi:hover {
  background-color: lightgreen;
  -webkit-transform: scale(1.08);
      -ms-transform: scale(1.08);
          transform: scale(1.08);
}
.kutxeebi-a {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  padding: 15px 0;
  text-transform: uppercase;
  color: rgb(8, 105, 45);
}
.kutxeebi-a:hover {
  background-color: lightgreen;
  color: lightcyan;
}
.info-section-3-img-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  overflow: hidden;
}
.info-section-3-img {
  width: 100%;
  -webkit-transition: 0.2s all ease-in-out;
  -o-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
}
.info-section-3-img:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}
/* section 4 */
.our-team-section {
  padding-top: 80px;
  padding-bottom: 100px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 0px 20px 1px rgba(28, 71, 46, 0.712);
          box-shadow: 0px 0px 20px 1px rgba(28, 71, 46, 0.712);
  background-image: url(../images/background/pine-tree-background-img.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.our-team-header {
  font-family: "Poppins", sans-serif;
  font-size: 36px;
  text-transform: uppercase;
  color: white;
  text-shadow: 4px 4px 3px black, 0 0 25px rgb(81, 230, 180),
    0 0 5px rgb(0, 99, 21);
}
.our-team-header-2 {
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  font-size: 26px;
  line-height: 60px;
  margin-bottom: 60px;
  color: white;
  text-shadow: 4px 4px 3px black, 0 0 25px rgb(81, 230, 180),
    0 0 5px rgb(0, 99, 21);
}
.our-team-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 90%;
  padding-top: 20px;
  -webkit-box-shadow: 0px 0px 20px 4px rgba(28, 71, 46, 0.527);
          box-shadow: 0px 0px 20px 4px rgba(28, 71, 46, 0.527);
  border-radius: 50px;
  background-color: rgb(229, 252, 252);
}
.our-team {
  margin-bottom: 60px;
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.our-team-img-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
}
.our-team-img {
  width: 100%;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 20px 3px rgba(28, 71, 46, 0.541);
          box-shadow: 0px 0px 20px 3px rgba(28, 71, 46, 0.541);
}
.our-team-img:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}
.our-team-content {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 30px;
  padding: 5px 10px;
  background-color: rgb(214, 250, 230);
  bottom: 0;
  left: 10%;
  -webkit-box-shadow: 0px 0px 20px 3px rgba(28, 71, 46, 0.479);
          box-shadow: 0px 0px 20px 3px rgba(28, 71, 46, 0.479);
}
.our-team-content:hover {
  border: thin solid rgb(11, 150, 64);
}
.team-member-name {
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  color: rgb(8, 105, 45);
  text-align: center;
}
.languages-div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 10px;
}
.language {
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  color: rgb(8, 105, 45);
  background-color: rgb(176, 240, 176);
  border-radius: 50px;
  padding: 10px;
  margin-top: 10px;
}
.language:nth-child(1) {
  margin-right: 10px;
}
.language:nth-child(2) {
  margin-right: 10px;
}
.language:hover {
  color: lightcyan;
  background-color: rgb(0, 99, 21);
}

/* contact page */
/* message icon section */
.contact-pg-body {
  background-image: url(../images/racha-lechkhumi.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 5%;
}
.arrow {
  font-size: 60px;
  color: #f5f5de;
  position: fixed;
  top: 30px;
  left: 50px;
  z-index: 90;
  -webkit-animation: arrow 1s 0s 1;
          animation: arrow 1s 0s 1;
}
.arrow:hover {
  -webkit-transform: scale(1.13);
      -ms-transform: scale(1.13);
          transform: scale(1.13);
}
@-webkit-keyframes arrow {
  0% {
    left: -100%;
  }
  100% {
    left: 50px;
  }
}
@keyframes arrow {
  0% {
    left: -100%;
  }
  100% {
    left: 50px;
  }
}
.contact-us-div {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  padding: 30px 35px;
  border: thin outset rgba(85, 80, 80, 0.651);
  border-radius: 22px;
  margin-top: 90px;
  margin-bottom: 180px;
  -webkit-box-shadow: 0px 2px 20px 10px rgba(11, 29, 18, 0.89);
          box-shadow: 0px 2px 20px 10px rgba(11, 29, 18, 0.89);
  -webkit-animation: form 2s 0s 1;
          animation: form 2s 0s 1;
}
@-webkit-keyframes form {
  0% {
    opacity: 0%;
  }
  40% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes form {
  0% {
    opacity: 0%;
  }
  40% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
.contact-us-header-div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.contact-us-header {
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
  font-size: 36px;
  font-weight: bold;
  color: #f5f5de;
  text-shadow: 0 13.35px 8.896px #7a766f, 0 -2px 1px #aaaaaa;
  margin-bottom: 20px;
}
.contact-us-par {
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: normal;
  color: #f5f5de;
  margin-bottom: 20px;
}
.form-div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.label {
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  font-size: 14px;
  font-weight: normal;
  color: #f5f5de;
  margin-bottom: 10px;
}
.info-input {
  font-family: "Poppins", sans-serif;
  border-radius: 15px;
  padding: 7px 20px;
  margin-bottom: 15px;
  color: rgb(85, 80, 80);
}
.message-input {
  font-family: "Poppins", sans-serif;
  border-radius: 15px;
  resize: none;
  padding: 7px 20px;
  color: rgb(85, 80, 80);
}
.message-input:focus,
.info-input:focus {
  outline: none;
}
.submit-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15px;
}
.submit {
  font-family: "Poppins", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 20px;
  height: 35px;
  border-radius: 15px;
  background-color: #f5f5de;
  color: rgb(85, 80, 80);
}
.submit:hover {
  color: #f5f5de;
  background-color: rgb(86, 102, 86);
}