body{
    padding-top: 52px;
}
/* header*/
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px 60px;
    background-image: url(../images/background/EarthForest-LinkedIn-Background-ID-42231-Cover-Abyss.jpg);
    background-position: top;
    background-size: cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}
.logo-div{
    width: 80px;
    display: flex;
    justify-content: center;
}
.logo{
    width: 100%;
    filter: invert(.9);
}
.navigation{
    display: flex;
}
.u-list{
    display: flex;
    justify-content: space-between;
}
.nav-li{
    margin-right: 60px;
}
.nav-a{
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    text-transform: uppercase;
    color: lightcyan;
}
.nav-a:hover{
    color: rgb(2, 255, 255);
}
.online{
    font-size: 19px;
    color: rgb(2, 255, 255);
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    animation-name: glow;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.bar-icon{
    position: absolute;
    top: 15px;
    right: 30px;
    font-family: 'Poppins', sans-serif;
    display: none;
    color: lightcyan;
    font-size: 18px;
    animation: glow 1s ease-in-out infinite alternate;
}
@keyframes glow {
    from {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #00e613, 0 0 20px #00e686, 0 0 25px #6fe600, 0 0 30px #00e68e, 0 0 30px #7bce7b;
    }
    to {
      text-shadow: 0 0 50px #fff, 0 0 10px #4dff97, 0 0 20px #4dff9d, 0 0 30px #62ff4d, 0 0 40px #4dff56, 0 0 50px #4dffa6, 0 0 50px #79e087;
    }
}
/* section 1 */
.section-1{
    display: flex;
    width:100%;
    position: relative;
}
.video{
    width: 100%;
}
/* section 2 */
.section-2{
    background-image: url(../images/background/pine-tree-background-img.jpg);
    background-size: cover;
    background-position: top;
    display: flex;
    flex-direction: column;
    padding: 100px 80px 10px 80px;
    width: 100%;
}
.section-2-header-div{
    display: flex;
    justify-content: center;
    margin-bottom: 90px;
}
.section-2-header{
    font-family: 'Poppins', sans-serif;
    color: white;
    text-shadow: 4px 4px 3px black, 0 0 25px rgb(81, 230, 180), 0 0 5px rgb(0, 99, 21);
    font-size: 44px;
    text-transform: capitalize;
}
.section-content-div{
    display: flex;
    justify-content: space-between;
}
.article-div{
    background-color: rgb(176, 223, 219);
    border-radius: 10px;
    box-shadow: 10px 20px 20px rgba(0, 0, 0, 0.904);
    padding: 20px 35px;
    margin-bottom: 70px;
    width: 30%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}
.article-div:hover{
    transform: scale(1.06);
    box-shadow: 10px 15px 15px rgba(0, 0, 0, 0.966);
    transition-timing-function: ease-out;
}
.article-img-div{
    width: 100%;
    overflow: hidden;
}
.article-img{
    width: 100%;
    border-radius: 8px;
    transition: 0.2s all ease-in-out;
}
.article-img:hover{
    transform: scale(1.5);
}
.article-content-div{
    width: 100%;
}
.article-header{
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    color: rgb(6, 69, 128);
    font-size: 18px;
    margin-top: 10px;
}
.article-content{
    font-family: 'Poppins', sans-serif;
    color: rgb(42, 76, 121);
    word-spacing: 3px;
    letter-spacing: .2px;
    font-size: 14px;
    line-height: 22px;
    padding: 25px 0 30px;
}
.article-content::first-letter{
    font-size: x-large;
}
.explore-more-div{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.explore-more{
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    color: rgb(6, 69, 128);
    padding: 10px 20px;
    border: medium double rgb(1, 134, 179);
    border-radius: 50px;
}
.explore-more:hover{
    border-color: deepskyblue;
    color: deepskyblue;
}
/* footer */
.footer-div{
    background-image: url(../images/background/EarthForest-LinkedIn-Background-ID-42231-Cover-Abyss.jpg);
    background-position: bottom;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    padding: 75px 100px;
}
.footer-header{
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    color: lightcyan;
    font-size: 15px;
    margin-bottom: 14px;
}
.footer-nav-a{
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    line-height: 18px;
    font-size: 13.5px;
    color: rgb(2, 255, 255);
}
.footer-nav-icon{
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    color: rgba(2, 255, 255, 0.712);
    padding-right: 25px;
}
.footer-icon-li{
    display: flex;
    align-items: center;
}
.visa-card:hover{
    animation-timing-function: linear;
    color: lightseagreen;
}
.mastercard:hover{
    animation-timing-function: linear;
    color: rgb(255, 153, 0);
}
.american-express:hover{
    animation-timing-function: linear;
    color: rgb(0, 110, 255);
}
.facebook:hover{
    animation-timing-function: linear;
    color: blue;
}
.insta:hover{
    animation-timing-function: linear;
    color: rgb(182, 3, 137);
}
.twitter:hover{
    animation-timing-function: linear;
    color: rgb(0, 119, 255);
}
.pinterest:hover{
    animation-timing-function: linear;
    color: red;
}

/* destinations page */
/*section 1*/
.destinations-section-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: rgba(95, 253, 213, 0.329);
    box-shadow: inset 0 5px 50px rgb(28, 71, 46);
}
.destinations-child-div{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    background-size: cover;
    background-position: center;
    width: 70%;
    height: 450px;
    box-shadow: 0px 0px 20px 1px rgb(28, 71, 46);
}
.tbilisi{
    background-image: url(../images/tbilisi2.webp);
    animation: tbilisi 12s 2s infinite ;
}
@keyframes tbilisi {
    0% {background-image: url(../images/tbilisi2.webp)}
    33% {background-image: url(../images/old-tbilisi.jpg);}
    66% {background-image: url(../images/tbilisisea.jpg);}
}
.mtsketa{
    background-image: url(../images/mtskheta.jpg);
    animation: mtsketa 12s 2s infinite ;
}
@keyframes mtsketa {
    0% {background-image: url(../images/mtskheta.jpg);}
    33% {background-image: url(../images/jvari-mtskheta.jpg);}
    66% {background-image: url(../images/mtsketa1.jpg);}    
}
.towers{
    background-image: url(../images/zugdidi.jpg);
    animation: towers 12s 2s infinite ;
}
@keyframes towers {
    0% {background-image: url(../images/zugdidi.jpg);}
    30% {background-image: url(../images/ushguli.jpg);  background-position: bottom;}
    60% {background-image: url(../images/mestia1.jpg);}
}
.tovli{
    background-image: url(../images/bakuriani.jpg);
    animation: tovli 12s 2s infinite ;
}
@keyframes tovli {
    0% {background-image: url(../images/bakuriani.jpg);}
    33% {background-image: url(../images/gudauri.jpg);}
    66% {background-image: url(../images/bakuriani1.jpg);}
}
.batumi{
    background-image: url(../images/batumi.jpg);
    background-position: top;
    animation: batumi 12s 2s infinite ;
}
@keyframes batumi {
    0% {background-image: url(../images/batumi.jpg);}
    33% {background-image: url(../images/batumi-boulevard.jpg);}    
    66% {background-image: url(../images/batumi-jpeg_header-9079525.jpeg);}
}
.caves{
    background-image: url(../images/vardzia1.jpg);
    background-position: top;
    animation: caves 10s 2s infinite ;
}
@keyframes caves {
    0% {background-image: url(../images/vardzia1.jpg);}
    33% {background-image: url(../images/ufliscixe.jpg);    background-position: top;}
    66% {background-image: url(../images/david-gareja.jpg); background-position: bottom;}
}
.waterfall{
    background-image: url(../images/dashbashi.jpg);
    background-position: top;
    animation: waterfall 12s 2s infinite ;
}
@keyframes waterfall {
    0% {background-image: url(../images/dashbashi.jpg);}
    33% {background-image: url(../images/martvili-canyon1.jpg);}
    66% {background-image: url(../images/waterfall.jpg); background-position: center;}
}
.lake{
    background-image: url(../images/koruldi.jpg);
    animation: lake 12s 2s infinite ;
}
@keyframes lake {
    0% {background-image: url(../images/koruldi.jpg);}
    33% {background-image: url(../images/bateti-lake.jpg);}
    66% {background-image: url(../images/Zhinvali-Lake.jpg);}
}
.kaxeti{
    background-image: url(../images/Alaverdi.jpg);
    animation: kaxeti 12s 2s infinite ;
}
@keyframes kaxeti {
    0% {background-image: url(../images/Alaverdi.jpg);}
    53% {background-image: url(../images/signagi.jpg);}
    66% {background-image: url(../images/kaxeti.jpg);}
}
.canyon{
    background-image: url(../images/canyon.jpg);
    animation: canyon 12s 2s infinite ;
}
@keyframes canyon {
    0% {background-image: url(../images/canyon.jpg);}
    33% {background-image: url(../images/martvili.jpg);}
    66% {background-image: url(../images/martvili-.jpg);}
}
.destinations-child{
    font-family: 'Poppins', sans-serif;
    font-size: 29px;
    color:lightgray;
    background-color: rgba(42, 148, 86, 0.726);
    border: medium outset rgb(35, 189, 81);
    text-transform: capitalize;
    border-radius: 50px;
    margin-bottom: 50px;
    margin-right: 50px;
    padding: 10px 20px;
}
.destinations-child:hover{
    animation-timing-function: ease-in;
    transform: scale(1.1);
    background-color: rgba(55, 163, 87, 0.959);
    text-shadow: 1px 1px 2px black, 0 0 25px rgb(0, 255, 136), 0 0 5px rgb(0, 139, 7);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* about us page */
/* section 1 */
.info-section-1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    width: 100%;
    height: auto;
    background-image: url(../images/Mountains_Georgia_Kazbegi_Khevi_Province_Clouds_580779_1920x1200.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.info-section-1-article{
    width: 40%;
    padding: 20px;
    background: #ece5da8f;
    color: #202020;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px double #ece5dabd;
    box-shadow: 10px 20px 20px rgba(24, 23, 23, 0.651);
}
.info-section-1-article:hover{
    background: #ece5dada;
    box-shadow: 10px 15px 15px rgba(24, 23, 23, 0.781);
    transform: scale(1.05);
}
.info-section-1-article-header{
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-weight: bolder;
    color: #f5f5de;
    text-shadow: 0 13.35px 8.896px #998b74, 0 -2px 1px #aaaaaa;
    margin-bottom: 14px;
}
.info-section-1-article-txt{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    line-height: 25px; 
    text-align: center;
    color: #413c35;
}
/* section 2 */
.info-section-2{
    padding:70px 40px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.info-section-2-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
.info-section-2-div:first-child{
    margin-right: 40px;
}
.info-section-2-div:nth-child(2){
    margin-right: 40px;
}
.info-section-2-div:nth-child(3){
    margin-right: 40px;
}
.info-section-2-div:nth-child(4){
    margin-right: 40px;
}
.info-section-2-icon{
    font-size: 35px;
    color:rgb(8, 105, 45);
}
.info-section-2-icon:hover{
    color: rgb(4, 197, 4);
}
.info-section-2-title{
    font-family: 'Poppins', sans-serif;
    line-height: 28px; 
    font-size: 20px;
    color: rgb(4, 197, 4);
}
.info-section-2-content{
    font-family: 'Poppins', sans-serif;
    line-height: 28px; 
    font-size: 18px;
    color: rgb(4, 197, 4);
}
.pseudo-lari::after{
    content: "₾";
    color: rgb(4, 197, 4);
    font-size: 18px;
    margin-left: 10px;
}
.pseudo-area::after{
    content: "KM²";
    color: rgb(4, 197, 4);
    font-size: 18px;
    margin-left: 10px;
}
/* section 3 */
.info-section-3{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 0 70px;
}
.kutxeebi-parent{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
}
.kutxeebi{
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 20px;
    border: medium double rgb(11, 150, 64);
    border-radius: 50px;
}
.kutxeebi:hover{
    background-color: lightgreen;
}
.kutxeebi-a{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    padding: 15px 0;
    text-transform: uppercase;    
    color: rgb(8, 105, 45);
}
.kutxeebi-a:hover{
    background-color: lightgreen;
    color: lightcyan;
}
.info-section-3-img-div{
    display: flex;
    width: 50%;
}
.info-section-3-img{
    width: 100%;
}
/* section 4 */
.our-team-section{
    padding-top: 80px;
    padding-bottom: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: lightcyan;
    box-shadow: 0px 0px 20px 1px rgba(28, 71, 46, 0.61);
}
.our-team-header{
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    text-transform: uppercase;
    color:rgb(8, 105, 45);
}
.our-team-header-2{
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    font-size: 26px;
    line-height: 60px;
    margin-bottom: 60px;
    color:rgb(8, 105, 45);
}
.our-team-div{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
    padding-top: 20px;
    box-shadow: 0px 0px 20px 1px rgba(28, 71, 46, 0.527);
    border-radius: 50px;
    background-color: rgb(243, 252, 252);
}
.our-team{
    /* position: relative; */
    margin-bottom: 60px;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.our-team-img-div{
    display: flex;
    width: 80%;
}
.our-team-img{
    width: 100%;
    border-radius: 50%;
    box-shadow: 0px 0px 20px 1px rgba(28, 71, 46, 0.541);
}
.our-team-img:hover{
    transform: scale(1.05);
}
.our-team-content{
    /* position: absolute; */
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    padding: 5px 10px;
    background-color: rgb(214, 250, 230);
    bottom: 0;
    left: 10%;
    box-shadow: 0px 0px 20px 1px rgba(28, 71, 46, 0.479);

    /* display: none; */
}
/* .our-team-content.use{
    display: block;
} */
.our-team-content:hover{
    transform: scale(1.09);
    border: 2px solid rgb(11, 150, 64);

}
.team-member-name{
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    color: rgb(8, 105, 45);
}
.languages-div{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}
.language{
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    color: rgb(8, 105, 45);
    background-color: rgb(176, 240, 176);
    border-radius: 50px;
    padding: 10px;
    margin-top: 10px;
}
.language:nth-child(1){
    margin-right: 10px;
}
.language:nth-child(2){
    margin-right: 10px;
}
.language:hover{
    color: lightcyan;
    background-color: rgb(0, 99, 21);
}

/* contact page */
/* message icon section */
.message-div{
    font-size: 60px;
    color: rgb(6, 112, 6);
    position: fixed;
    bottom: 100px;
    right: 50px;
    z-index: 90;
    animation: message 1s 0s 1;
    transform: rotatey(180deg);
}
.message-div:hover{
    transform: scale(1.1) rotatey(180deg);
}
@keyframes message{
	0% {right: -100%;}
	100% {right: 50px;}
}
.arrow{
    font-size: 60px;
    color: green;
    position: fixed;
    top: 50px;
    left: 50px;
    z-index: 90;
    animation: arrow 1s 0s 1;
}
.arrow:hover{
    transform: scale(1.1);
}
@keyframes arrow{
	0% {left: -100%;}
	100% {left: 50px;}
}